<a href="https://colab.research.google.com/github/Prajith3/SIT719/blob/main/SIT719_Task_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Step 1**

In [24]:
import pandas as pd
import numpy as np

**Step 2**

In [25]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data" #Importing dataset from the url
iris = pd.read_csv(url) #read the dataset
iris.head() #prints the first 5 rows of the dataset

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

**Step 3**

In [26]:
iris_col_names = ['sepal_length', 'sepal_width', 'petal_length',  'petal_width','class'] #creating a list for column names
updated_iris = pd.read_csv(url, names = iris_col_names, header = None) # assigning the names with the specific column names and also using header=None to align them in order
updated_iris.head()
#print(updated_iris.columns.values.tolist())
updated_iris.columns.values.tolist() # to show the column names of the dataset.

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'class']

**Step 4**

In [27]:
new_updated_iris = updated_iris.isnull() # in-built operator to check for any missing values within the dataset.
#new_updated_iris = updated_iris.isnull().values.any() # gives a boolean response whether there is missing values or not.
print(new_updated_iris)

     sepal_length  sepal_width  petal_length  petal_width  class
0           False        False         False        False  False
1           False        False         False        False  False
2           False        False         False        False  False
3           False        False         False        False  False
4           False        False         False        False  False
..            ...          ...           ...          ...    ...
145         False        False         False        False  False
146         False        False         False        False  False
147         False        False         False        False  False
148         False        False         False        False  False
149         False        False         False        False  False

[150 rows x 5 columns]

**Step 5**

In [28]:
updated_iris.loc[10:29,'petal_length'] = float('NaN') #Assigning NaN values to specific rows on the petal_length column
#print(updated_iris[10:30]['petal_length'])
#print(updated_iris[9:31])
print(updated_iris[10:30])

'''
new_iris = updated_iris['petal_length']
print(new_iris)
df.update(df.iloc[[0]].fillna(''))
nullified_iris_rows = new_iris.iloc[10:30].replace(np.nan, '', regex=True)
print(new_iris.update(new_iris.iloc[10:29].fillna('NaN')))
nullified_iris_rows = updated_iris.update(updated_iris.iloc[10:29],petal_length.fillna(''))
new_iris = updated_iris['petal_length']
nullified_iris_rows = new_iris.update(new_iris.iloc[[10,29]].fillna(''))
print(new_iris)
print(nullified_iris_rows)

'''

    sepal_length  sepal_width  petal_length  petal_width        class
10           5.4          3.7           NaN          0.2  Iris-setosa
11           4.8          3.4           NaN          0.2  Iris-setosa
12           4.8          3.0           NaN          0.1  Iris-setosa
13           4.3          3.0           NaN          0.1  Iris-setosa
14           5.8          4.0           NaN          0.2  Iris-setosa
15           5.7          4.4           NaN          0.4  Iris-setosa
16           5.4          3.9           NaN          0.4  Iris-setosa
17           5.1          3.5           NaN          0.3  Iris-setosa
18           5.7          3.8           NaN          0.3  Iris-setosa
19           5.1          3.8           NaN          0.3  Iris-setosa
20           5.4          3.4           NaN          0.2  Iris-setosa
21           5.1          3.7           NaN          0.4  Iris-setosa
22           4.6          3.6           NaN          0.2  Iris-setosa
23           5.1          3.3           NaN          0.5  Iris-setosa
24           4.8          3.4           NaN          0.2  Iris-setosa
25           5.0          3.0           NaN          0.2  Iris-setosa
26           5.0          3.4           NaN          0.4  Iris-setosa
27           5.2          3.5           NaN          0.2  Iris-setosa
28           5.2          3.4           NaN          0.2  Iris-setosa
29           4.7          3.2           NaN          0.2  Iris-setosa

"\nnew_iris = updated_iris['petal_length']\nprint(new_iris)\ndf.update(df.iloc[[0]].fillna(''))\nnullified_iris_rows = new_iris.iloc[10:30].replace(np.nan, '', regex=True)\nprint(new_iris.update(new_iris.iloc[10:29].fillna('NaN')))\nnullified_iris_rows = updated_iris.update(updated_iris.iloc[10:29],petal_length.fillna(''))\nnew_iris = updated_iris['petal_length']\nnullified_iris_rows = new_iris.update(new_iris.iloc[[10,29]].fillna(''))\nprint(new_iris)\nprint(nullified_iris_rows)\n\n"



**Step 6**

In [29]:
newly_updated_iris = updated_iris.isnull().values.any() #checking again for null values present in the dataset.
print(newly_updated_iris)
newly_updated_iris = updated_iris['petal_length'].isnull().sum() #Counting the number of missing values.
print(newly_updated_iris)

True
20

**Step 7**

In [30]:
subs_updated_iris = updated_iris[10:30].fillna(10.0) #replacing the values of NaN with 10.0 by using the fillna function.
#print(subs_updated_iris)
print(subs_updated_iris['petal_length'])

10    10.0
11    10.0
12    10.0
13    10.0
14    10.0
15    10.0
16    10.0
17    10.0
18    10.0
19    10.0
20    10.0
21    10.0
22    10.0
23    10.0
24    10.0
25    10.0
26    10.0
27    10.0
28    10.0
29    10.0
Name: petal_length, dtype: float64